/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
*/
:root {
	--color-variable: #ffffff;
}

/*
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body {
    margin: 0;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav li{
    list-style-type: square;
    color:blueviolet;
}
nav a:visited {
    color: black;
}
  
nav a:hover {
    color: brown;
}
  
nav a:active {
    color:aquamarine;
}
/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    background-color: cadetblue;
    padding: 20px;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
    width: calc(70% - 1px);
    float: left;
    padding: 1rem;
    border-right: 1px;
}
aside {
    width: 30%;
    float: right;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
    clear: both;
    background-color:cadetblue;
    text-align: center;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

